.col-md-6.product-summary {
  padding: 5%;
  background-color: #fefefe;
  border-bottom: 4px solid #149ad8;
}
@media screen and (min-width: 1024px){
  .col-md-6.product-summary {
    min-height: 300px;
    margin-top: 25px;
    margin-left: -75px;
    padding: 25% 5%;
    height: auto;
    max-height: 425px;
  }
}
.prd-thumbnails{
  display: inline-block;
  margin-top: 15px;
}
.woocommerce-product-gallery__image .wp-post-image{
  width: 100%; /* Fit to width of screen */
  height: auto; /* Keep aspect ratio of the image */
}
.wp-post-image{
  max-width: 440px;
  width: 100%;
  height: auto;
}
h2.product-title{
  font-size: 2rem!important;
  padding-top: 5%;
  font-weight: 700;
  display: inline-block;
}
p.price{
  display: inline-block;
}
.value select:not([size]):not([multiple]){
  height: calc(2.25rem + 2px);
}
.value select{
  display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.input-text{display: block;
width: auto;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-text.qty{
  width: 100px;
}
.tabs.wc-tabs{
  padding: 0;
}

.tabs.wc-tabs li{
  display: inline-block;
padding: 1% 4%;
list-style: none;
background-color: #f3f3f3;
}
.tabs.wc-tabs li.active{
  border-bottom: 3px solid #149ad8;
}
.woocommerce-Tabs-panel{
  padding: 1% 4%;
  background-color: #f3f3f3;
}

.form-submit .submit{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.75rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quantity{
  display:inline-block;
}
.single_add_to_cart_button{
  display: inline-block;
  margin-left: 10px;
}
.sku_wrapper{
  padding: 1% 3%;
  background-color: #0da1ff;
  color: white;
  text-transform: uppercase;
}
.sku{
  color: white!important;
}
.product_meta{
  margin: 10px 0 10px 0;
}
.posted_in{
  padding: 1% 3%;
  background-color: #f7f6f7;
  color: black;
}
.posted_in a{color: black}

.related .products li{
  list-style: none;
}

.related .products li img{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 300px){
  .related .products li{
    width: 100%;
    display: block;
    text-align: center;
    padding: 2%;
  }
}

@media screen and (min-width: 1024px){
  .related .products li{
    display: inline-block;
    /*width: 23%;*/
  }
  .related .products li:not(:nth-child(4n)){
    margin-right: 2%;
  }
}
.pt-product-thumbnail{
  max-width: 440px;
  width: 100%;
  height: auto;
}
.woocommerce-info{
  border: 2px solid #17a2b8!important;
  border-radius: 10px;
}
.woocommerce-error{
  border: 2px solid #dc3545!important;
  border-radius: 10px;
}
.woocommerce-message{
  border: 2px solid #1e3175!important;
  border-radius: 10px;
}
.woocommerce-message::before{
  color: #1e3175!important;
}


.woocommerce-message::after{
  clear: both;
}

.woocommerce-breadcrumb{
  font-size: 1.55em;
  margin-bottom: 25px;
}

.woocommerce{width: 100%;}
.cart-item img{
  width: auto;
  max-width: 100%;
  height: auto;
}

.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    /* height: 1em; */
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    padding: 2px 5px;
}

.input-text{
  min-width: 125px;
  width: auto;
}
